html {
    overflow-x: hidden;
}

body, input {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
}

.hat {
    padding: 40px 120px;
    color: #fff;
    background-image: url('./image/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;    
}

.hat::before {
    content: "";
    position: absolute;
    top: 40px;  
    left: 120px;
    width: 170px;   
    height: 170px;    
    background-image: url('./image/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.hat::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 200px;
    width: 35px;
    height: 35px;
    background-image: url('./image/burger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.hat .hat-heading {
    margin-top: 150px;
    font-weight: 700;
    font-size: 66px;
    max-width: 770px;
    margin-bottom: 50px;
    line-height: 1.1;
}

.hat-nav-item {
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.hat-nav-item .hat-item {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0,5px;
    padding: 0px 10px;
}

.hat-subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 200px;
    font-size: 23px;
    max-width: 400px;
    margin-top: 0;
    margin-bottom: 45px;
    line-height: 1.4;
}

.hat-buttons{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
}

.hat-btn {
    background-color: rgb(226, 135, 70);
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 25px 85px;
    border-radius: 70px;
    border-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
}


.hat-btn:hover {
    background-color: rgb(211, 118, 51);
    box-shadow: 0 4px 12px rgba(221, 148, 40, 0.3);
}

.hat-btn:active {
    background-color: rgb(176, 89, 27);
    transform: scale(0.98);
}

.hat-btn-play {
    background: transparent;
    border: none;
    cursor: pointer;
}

.hat-btn-play:active {
    transform: scale(0.97);
}

.hat-buttons .hat-btn-text {
    align-self: center;
    max-width: 100px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    line-height: 1.3;
}

.hat-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    flex-wrap: wrap;
    gap: 30px;
}

.hat-social-title {
    display: block;
    letter-spacing: 0.8px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.hat-social-link {
    font-size: 18px;
    color: #fff;
    margin-right: 51px;
}

.hat-social-link:last-child {
    margin-right: 0;
}

.hat-images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hat-image {
    width: 240px;
    height: 145px;
    padding: 25px;
    border-radius: 16px;
    transition: .2s;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
}


.hat-image:nth-child(1) {
    background-image: url("./image/card-1.png");
    background-size: cover;
    background-position: center;
}

.hat-image:nth-child(2) {
    background-image: url("./image/card-2.png");
    background-size: cover;
    background-position: center;
}

.hat-image:nth-child(3) {
    background-image: url("./image/card-3.png");
    background-size: cover;
    background-position: center;
}

.hat-image-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hat-number-image {
    margin: 0;
    font-size: 25px;
    margin-bottom: 85px;
}

.text {
    margin: 0;
    margin-right: 90px;
    max-width: 104px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
}

.hat-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card-tours {
    display: flex;
    padding: 150px;
    padding-left: 160px;
    column-gap: 40px;
}

.card-date {
    width: 730px;
    height: 375px;
    background-image: url("./image/card-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border-radius: 16px;
    padding: 45px;
    color: white;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.card-subtitle {
    font-weight: 400;
    font-size: 18px;
}

.card-in-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 300px;
    font-size: 18px;
}

.card-text {
    width: 100%;
    max-width: 500px;
}

.tours {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.2;
}

.discription {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.4;
}

.button-watch {
    font-size: 20px;
    font-weight: 600;
    width: 265px;
    height: 75px;
    border-radius: 38px;
    background: white;
    color: #DA8344;
    border: 1px solid #DA8344;
    transition: .1s;
}

.button-watch:hover {
    background-color: #DA8344;
    color: #fff;
}


.block-prime-register {
    background-image: url("./image/form-background.png");
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
}

.block-number, .block-name {
    padding: 0 25px;
    width: 220px;
    height: 65px;
    font-size: 18px;
    border-radius: 38px;
    color: #9FA6AB;
    border: 1px solid #9FA6AB;
    margin-bottom: 30px;
}

.block-register-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.2;
}

.block-register-subtitle {
    font-size: 18px;
    margin: 0;
    line-height: 1.4;
}

.block_all {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 250px;
    max-width: 315px;
}

.block-number {
    margin-bottom: 50px;
}

.block-submit {
    width: 220px;
    height: 65px;
    border-radius: 38px;
    background-color: #DD9428;
    border-color: azure;
    color: #333111;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.4s ease;
    margin-bottom: 10px;
}

.block-request {
    margin-right: 100px;
}

.block-agreement {
    display: block;
    font-size: 11px;
    text-align: center;
    max-width: 240px;
    line-height: 1.3;
}

.block-application {
    margin-bottom: 50px;
}

.card-reviews {
    display: flex;
    padding: 150px;
    padding-left: 160px;
    column-gap: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.card-reviews-relax {
    width: 730px;
    height: 375px;
    background-image: url("./image/card-5.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border-radius: 16px;
    padding: 45px;
    color: white;
}

.card-reviews-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.card-reviews-subtitle {
    font-weight: 400;
    font-size: 18px;
}

.card-reviews-in-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 300px;
    font-size: 18px;
}

.card-reviews-text {
    width: 100%;
    max-width: 500px;
}

.reviews-tours {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.2;
}

.reviews-discription {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.4;
}

.reviews-button-watch {
    font-size: 20px;
    font-weight: 600;
    width: 265px;
    height: 75px;
    border-radius: 38px;
    background: white;
    color: #cd8f4d;
    border: 1px solid #DA8344;
    transition: .1s;
}

.reviews-button-watch:hover {
    background-color: #DA8344;
    color: #fff;
}

.footer {
    padding: 50px 120px;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    gap: 100px;
}

.logo {
    height: 40px;
}

.footer-links {
    display: flex;
    gap: 100px;
    font-size: 14px;
    color: #9CA3AF;
    transition: color 0.2s;
}

.footer-links:hover {
    color: #6B7280;
}

.social {
    display: flex;
    gap: 80px;
    flex-direction: row;
}